<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event_language.title %>
</p>

<p>
  <strong>Short event:</strong>
  <%= @event_language.short_event %>
</p>

<p>
  <strong>Body:</strong>
  <%= @event_language.body %>
</p>

<p>
  <strong>Author:</strong>
  <%= @event_language.author %>
</p>

<p>
  <strong>Event:</strong>
  <%= @event_language.event_id %>
</p>

<p>
  <strong>Lang:</strong>
  <%= @event_language.lang_id %>
</p>

<%= link_to 'Edit', edit_event_language_path(@event_language) %> |
<%= link_to 'Back', event_languages_path %>
