<div class="row">
	<div class="col-md-9 sectioncontainer">
		<p style="margin-top: 1.2em;"><%= link_to 'Назад', news_index_path %></p>
		
		<div class="panel panel-primary">

			<div class="panel-heading">			
			<h5><b><%= @news.title %></b></h5>
			</div>
			<div class="panel-body">
			<span><%= @news.body.to_s.html_safe %></span>
			<table width="100%">
				<tr>
					<td>
						<span style="color: lightgray"><i><%= @news.publish_date.strftime("%d/%m/%Y") %>, <%= @news.author %></i></span>
	        		</td>
	    		</tr>
	    	</table>
	    	</div>
	    </div>

	    	<div id="disqus_thread"></div>
			<script type="text/javascript">
	    		/* * * CONFIGURATION VARIABLES * * */
	    		var disqus_shortname = 'pmiukrainechapter';
	   
    			/* * * DON'T EDIT BELOW THIS LINE * * */
    			(function() {
        			var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        			dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          			(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	   			})();
			</script>
			<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
			<br>
	    	    	
	</div>
	
	<div class="col-md-3">
		<br>
		<span>Good Things Happen when you Get Involved with PMI!</span>
	</div>
</div>